
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Admin/DashBoard">Dashboard</a>
        </li>
        @*<li class="breadcrumb-item active">Overview</li>*@
    </ol>  
</div>

<h2>DashBoard</h2>

